@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap'); */
@import "tailwindcss";
/* @plugin "daisyui"; */

* {
    font-family: "Outfit", sans-serif;
    /* font-family: "Lato", sans-serif; */
    /* font-family: "Abril Fatface", serif; */
    /* font-family: "Macondo", cursive; */
}

/* color code*/
@theme {
    --color-primary: #4fbf8b;
    --color-primary-dull: #44ae7c;

}